.footer{
    max-width: 100vw;
    max-height: 100vh;
}
.footer-container{
    margin-top:2rem;
    background-color: #F7F7F7;
    width: 100%;
    height: 230px;
    padding: 0 280px;
}

li{
    list-style: none;
}

.footer-row{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    text-align: justify;
    padding-left: 3rem ;
}

ul li > h4 {
    padding-bottom: 10px;
    }
.footer-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    margin-right: 5rem;
    padding: 0 350px;
}